.DS_Store
.vscode
.idea
.cache
cache
build
bundle
deploy
dist
node_modules
package-lock.json
junit.xml

# API-specific
.env
.env.local
.env.*.local
storage/
logs/
*.log
*.tmp
temp/
tmp/
coverage/
.nyc_output/
.local-chromium/
.local-firefox/
*.pid
*.seed
*.pid.lock
*.tsbuildinfo

# Old project files
web/
app/
docs/