html, body, #app, #hakuneko-notice {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

#hakuneko-notice {
    background: lightgrey;
    text-align: center;
    padding: 2em;
}