:root[theme="hakuneko"] {
    --cds-interactive-01: #fe0f0f;
    --cds-interactive-02: #6f6f6f;
    --cds-interactive-03: #fff;
    --cds-interactive-04: #4589ff;
    --cds-ui-background: #161616;
    --cds-ui-01: #262626;
    --cds-ui-02: #393939;
    --cds-ui-03: #393939;
    --cds-ui-04: #6f6f6f;
    --cds-ui-05: #f4f4f4;
    --cds-text-01: #f4f4f4;
    --cds-text-02: #c6c6c6;
    --cds-text-03: #6f6f6f;
    --cds-text-04: #fff;
    --cds-text-05: #8d8d8d;
    --cds-text-error: #ff8389;
    --cds-icon-01: #f4f4f4;
    --cds-icon-02: #c6c6c6;
    --cds-icon-03: #fff;
    --cds-link-01: #78a9ff;
    --cds-link-02: #a6c8ff;
    --cds-inverse-link: #0f62fe;
    --cds-field-01: #262626;
    --cds-field-02: #393939;
    --cds-inverse-01: #161616;
    --cds-inverse-02: #f4f4f4;
    --cds-support-01: #fa4d56;
    --cds-support-02: #42be65;
    --cds-support-03: #f1c21b;
    --cds-support-04: #4589ff;
    --cds-inverse-support-01: #da1e28;
    --cds-inverse-support-02: #24a148;
    --cds-inverse-support-03: #f1c21b;
    --cds-inverse-support-04: #0f62fe;
    --cds-overlay-01: rgba(22, 22, 22, 70%);
    --cds-danger-01: #da1e28;
    --cds-danger-02: #fa4d56;
    --cds-focus: #fff;
    --cds-inverse-focus-ui: #0f62fe;
    --cds-hover-primary: #0353e9;
    --cds-active-primary: #002d9c;
    --cds-hover-primary-text: #a6c8ff;
    --cds-hover-secondary: #606060;
    --cds-active-secondary: #393939;
    --cds-hover-tertiary: #f4f4f4;
    --cds-active-tertiary: #c6c6c6;
    --cds-hover-ui: #353535;
    --cds-hover-light-ui: #4c4c4c;
    --cds-hover-selected-ui: #4c4c4c;
    --cds-active-ui: #525252;
    --cds-active-light-ui: #6f6f6f;
    --cds-selected-ui: #393939;
    --cds-selected-light-ui: #525252;
    --cds-inverse-hover-ui: #e5e5e5;
    --cds-hover-danger: #b81921;
    --cds-active-danger: #750e13;
    --cds-hover-row: #353535;
    --cds-visited-link: #be95ff;
    --cds-disabled-01: #262626;
    --cds-disabled-02: #525252;
    --cds-disabled-03: #8d8d8d;
    --cds-highlight: #002d9c;
    --cds-decorative-01: #525252;
    --cds-button-separator: #161616;
    --cds-skeleton-01: #353535;
    --cds-skeleton-02: #525252;
    --cds-background: #161616;
    --cds-layer: #262626;
    --cds-layer-accent: #393939;
    --cds-layer-accent-hover: #474747;
    --cds-layer-accent-active: #6f6f6f;
    --cds-field: #262626;
    --cds-background-inverse: #f4f4f4;
    --cds-background-brand: #0f62fe;
    --cds-interactive: #4589ff;
    --cds-border-subtle: #393939;
    --cds-border-strong: #6f6f6f;
    --cds-border-inverse: #f4f4f4;
    --cds-border-interactive: #4589ff;
    --cds-text-primary: #f4f4f4;
    --cds-text-secondary: #c6c6c6;
    --cds-text-placeholder: #6f6f6f;
    --cds-text-helper: #8d8d8d;
    --cds-text-on-color: #fff;
    --cds-text-inverse: #161616;
    --cds-link-primary: #78a9ff;
    --cds-link-secondary: #a6c8ff;
    --cds-link-visited: #be95ff;
    --cds-link-inverse: #0f62fe;
    --cds-icon-primary: #f4f4f4;
    --cds-icon-secondary: #c6c6c6;
    --cds-icon-on-color: #fff;
    --cds-icon-inverse: #161616;
    --cds-support-error: #fa4d56;
    --cds-support-success: #42be65;
    --cds-support-warning: #f1c21b;
    --cds-support-info: #4589ff;
    --cds-support-error-inverse: #da1e28;
    --cds-support-success-inverse: #24a148;
    --cds-support-warning-inverse: #f1c21b;
    --cds-support-info-inverse: #0f62fe;
    --cds-overlay: rgba(22, 22, 22, 70%);
    --cds-toggle-off: #6f6f6f;
    --cds-button-primary: #0f62fe;
    --cds-button-secondary: #6f6f6f;
    --cds-button-tertiary: #fff;
    --cds-button-danger-primary: #da1e28;
    --cds-button-danger-secondary: #fa4d56;
    --cds-background-active: #525252;
    --cds-layer-active: #525252;
    --cds-button-danger-active: #750e13;
    --cds-button-primary-active: #002d9c;
    --cds-button-secondary-active: #393939;
    --cds-button-tertiary-active: #c6c6c6;
    --cds-focus-inset: #161616;
    --cds-focus-inverse: #0f62fe;
    --cds-background-hover: #353535;
    --cds-layer-hover: #353535;
    --cds-field-hover: #353535;
    --cds-background-inverse-hover: #e5e5e5;
    --cds-link-primary-hover: #a6c8ff;
    --cds-button-danger-hover: #b81921;
    --cds-button-primary-hover: #0353e9;
    --cds-button-secondary-hover: #606060;
    --cds-button-tertiary-hover: #f4f4f4;
    --cds-background-selected: #393939;
    --cds-background-selected-hover: #4c4c4c;
    --cds-layer-selected: #393939;
    --cds-layer-selected-hover: #4c4c4c;
    --cds-layer-selected-inverse: #f4f4f4;
    --cds-border-subtle-selected: #525252;
    --cds-layer-disabled: #262626;
    --cds-field-disabled: #262626;
    --cds-border-disabled: #262626;
    --cds-text-disabled: #525252;
    --cds-button-disabled: #525252;
    --cds-icon-disabled: #525252;
    --cds-text-on-color-disabled: #8d8d8d;
    --cds-icon-on-color-disabled: #8d8d8d;
    --cds-layer-selected-disabled: #8d8d8d;
    --cds-skeleton-background: #353535;
    --cds-skeleton-element: #525252;
    --cds-brand-01: #0f62fe;
    --cds-brand-02: #6f6f6f;
    --cds-brand-03: #fff;
    --cds-active-01: #525252;
    --cds-hover-field: #353535;
    --cds-danger: #da1e28;
    --cds-caption-01-font-size: 0.75rem;
    --cds-caption-01-font-weight: 400;
    --cds-caption-01-line-height: 1.34;
    --cds-caption-01-letter-spacing: 0.32px;
    --cds-caption-02-font-size: 0.875rem;
    --cds-caption-02-font-weight: 400;
    --cds-caption-02-line-height: 1.29;
    --cds-caption-02-letter-spacing: 0.32px;
    --cds-label-01-font-size: 0.75rem;
    --cds-label-01-font-weight: 400;
    --cds-label-01-line-height: 1.34;
    --cds-label-01-letter-spacing: 0.32px;
    --cds-label-02-font-size: 0.875rem;
    --cds-label-02-font-weight: 400;
    --cds-label-02-line-height: 1.29;
    --cds-label-02-letter-spacing: 0.32px;
    --cds-helper-text-01-font-size: 0.75rem;
    --cds-helper-text-01-line-height: 1.34;
    --cds-helper-text-01-letter-spacing: 0.32px;
    --cds-helper-text-02-font-size: 0.875rem;
    --cds-helper-text-02-line-height: 1.29;
    --cds-helper-text-02-letter-spacing: 0.32px;
    --cds-body-short-01-font-size: 0.875rem;
    --cds-body-short-01-font-weight: 400;
    --cds-body-short-01-line-height: 1.29;
    --cds-body-short-01-letter-spacing: 0.16px;
    --cds-body-long-01-font-size: 0.875rem;
    --cds-body-long-01-font-weight: 400;
    --cds-body-long-01-line-height: 1.43;
    --cds-body-long-01-letter-spacing: 0.16px;
    --cds-body-short-02-font-size: 1rem;
    --cds-body-short-02-font-weight: 400;
    --cds-body-short-02-line-height: 1.375;
    --cds-body-short-02-letter-spacing: 0;
    --cds-body-long-02-font-size: 1rem;
    --cds-body-long-02-font-weight: 400;
    --cds-body-long-02-line-height: 1.5;
    --cds-body-long-02-letter-spacing: 0;
    --cds-code-01-font-family: NotoColorEmoji-Flags, 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    --cds-code-01-font-size: 0.75rem;
    --cds-code-01-font-weight: 400;
    --cds-code-01-line-height: 1.34;
    --cds-code-01-letter-spacing: 0.32px;
    --cds-code-02-font-family: NotoColorEmoji-Flags, 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    --cds-code-02-font-size: 0.875rem;
    --cds-code-02-font-weight: 400;
    --cds-code-02-line-height: 1.43;
    --cds-code-02-letter-spacing: 0.32px;
    --cds-heading-01-font-size: 0.875rem;
    --cds-heading-01-font-weight: 600;
    --cds-heading-01-line-height: 1.29;
    --cds-heading-01-letter-spacing: 0.16px;
    --cds-productive-heading-01-font-size: 0.875rem;
    --cds-productive-heading-01-font-weight: 600;
    --cds-productive-heading-01-line-height: 1.29;
    --cds-productive-heading-01-letter-spacing: 0.16px;
    --cds-heading-02-font-size: 1rem;
    --cds-heading-02-font-weight: 600;
    --cds-heading-02-line-height: 1.375;
    --cds-heading-02-letter-spacing: 0;
    --cds-productive-heading-02-font-size: 1rem;
    --cds-productive-heading-02-font-weight: 600;
    --cds-productive-heading-02-line-height: 1.375;
    --cds-productive-heading-02-letter-spacing: 0;
    --cds-productive-heading-03-font-size: 1.25rem;
    --cds-productive-heading-03-font-weight: 400;
    --cds-productive-heading-03-line-height: 1.4;
    --cds-productive-heading-03-letter-spacing: 0;
    --cds-productive-heading-04-font-size: 1.75rem;
    --cds-productive-heading-04-font-weight: 400;
    --cds-productive-heading-04-line-height: 1.29;
    --cds-productive-heading-04-letter-spacing: 0;
    --cds-productive-heading-05-font-size: 2rem;
    --cds-productive-heading-05-font-weight: 400;
    --cds-productive-heading-05-line-height: 1.25;
    --cds-productive-heading-05-letter-spacing: 0;
    --cds-productive-heading-06-font-size: 2.625rem;
    --cds-productive-heading-06-font-weight: 300;
    --cds-productive-heading-06-line-height: 1.199;
    --cds-productive-heading-06-letter-spacing: 0;
    --cds-productive-heading-07-font-size: 3.375rem;
    --cds-productive-heading-07-font-weight: 300;
    --cds-productive-heading-07-line-height: 1.19;
    --cds-productive-heading-07-letter-spacing: 0;
    --cds-expressive-heading-01-font-size: 0.875rem;
    --cds-expressive-heading-01-font-weight: 600;
    --cds-expressive-heading-01-line-height: 1.25;
    --cds-expressive-heading-01-letter-spacing: 0.16px;
    --cds-expressive-heading-02-font-size: 1rem;
    --cds-expressive-heading-02-font-weight: 600;
    --cds-expressive-heading-02-line-height: 1.5;
    --cds-expressive-heading-02-letter-spacing: 0;
    --cds-expressive-heading-03-font-size: 1.25rem;
    --cds-expressive-heading-03-font-weight: 400;
    --cds-expressive-heading-03-line-height: 1.4;
    --cds-expressive-heading-03-letter-spacing: 0;
    --cds-expressive-heading-04-font-size: 1.75rem;
    --cds-expressive-heading-04-font-weight: 400;
    --cds-expressive-heading-04-line-height: 1.29;
    --cds-expressive-heading-04-letter-spacing: 0;
    --cds-expressive-heading-05-font-size: 2rem;
    --cds-expressive-heading-05-font-weight: 400;
    --cds-expressive-heading-05-line-height: 1.25;
    --cds-expressive-heading-05-letter-spacing: 0;
    --cds-expressive-heading-06-font-size: 2rem;
    --cds-expressive-heading-06-font-weight: 600;
    --cds-expressive-heading-06-line-height: 1.25;
    --cds-expressive-heading-06-letter-spacing: 0;
    --cds-expressive-paragraph-01-font-size: 1.5rem;
    --cds-expressive-paragraph-01-font-weight: 300;
    --cds-expressive-paragraph-01-line-height: 1.334;
    --cds-expressive-paragraph-01-letter-spacing: 0;
    --cds-quotation-01-font-size: 1.25rem;
    --cds-quotation-01-font-weight: 400;
    --cds-quotation-01-line-height: 1.3;
    --cds-quotation-01-letter-spacing: 0;
    --cds-quotation-02-font-size: 2rem;
    --cds-quotation-02-font-weight: 300;
    --cds-quotation-02-line-height: 1.25;
    --cds-quotation-02-letter-spacing: 0;
    --cds-display-01-font-size: 2.625rem;
    --cds-display-01-font-weight: 300;
    --cds-display-01-line-height: 1.19;
    --cds-display-01-letter-spacing: 0;
    --cds-display-02-font-size: 2.625rem;
    --cds-display-02-font-weight: 600;
    --cds-display-02-line-height: 1.19;
    --cds-display-02-letter-spacing: 0;
    --cds-display-03-font-size: 2.625rem;
    --cds-display-03-font-weight: 300;
    --cds-display-03-line-height: 1.19;
    --cds-display-03-letter-spacing: 0;
    --cds-display-04-font-size: 2.625rem;
    --cds-display-04-font-weight: 600;
    --cds-display-04-line-height: 1.19;
    --cds-display-04-letter-spacing: 0;
    --cds-spacing-01: 0.125rem;
    --cds-spacing-02: 0.25rem;
    --cds-spacing-03: 0.5rem;
    --cds-spacing-04: 0.75rem;
    --cds-spacing-05: 1rem;
    --cds-spacing-06: 1.5rem;
    --cds-spacing-07: 2rem;
    --cds-spacing-08: 2.5rem;
    --cds-spacing-09: 3rem;
    --cds-spacing-10: 4rem;
    --cds-spacing-11: 5rem;
    --cds-spacing-12: 6rem;
    --cds-spacing-13: 10rem;
    --cds-fluid-spacing-01: 0;
    --cds-fluid-spacing-02: 2vw;
    --cds-fluid-spacing-03: 5vw;
    --cds-fluid-spacing-04: 10vw;
    --cds-layout-01: 1rem;
    --cds-layout-02: 1.5rem;
    --cds-layout-03: 2rem;
    --cds-layout-04: 3rem;
    --cds-layout-05: 4rem;
    --cds-layout-06: 6rem;
    --cds-layout-07: 10rem;
    --cds-container-01: 1.5rem;
    --cds-container-02: 2rem;
    --cds-container-03: 2.5rem;
    --cds-container-04: 3rem;
    --cds-container-05: 4rem;
    --cds-size-xsmall: 1.5rem;
    --cds-size-small: 2rem;
    --cds-size-medium: 2.5rem;
    --cds-size-large: 3rem;
    --cds-size-xlarge: 4rem;
    --cds-size-2XLarge: 5rem;
    --cds-icon-size-01: 1rem;
    --cds-icon-size-02: 1.25rem;
    --cds-tag-background-red: #750e13;
    --cds-tag-color-red: #ffb3b8;
    --cds-tag-hover-red: #a2191f;
    --cds-tag-background-magenta: #740937;
    --cds-tag-color-magenta: #ffafd2;
    --cds-tag-hover-magenta: #9f1853;
    --cds-tag-background-purple: #491d8b;
    --cds-tag-color-purple: #d4bbff;
    --cds-tag-hover-purple: #6929c4;
    --cds-tag-background-blue: #002d9c;
    --cds-tag-color-blue: #a6c8ff;
    --cds-tag-hover-blue: #0043ce;
    --cds-tag-background-cyan: #003a6d;
    --cds-tag-color-cyan: #82cfff;
    --cds-tag-hover-cyan: #00539a;
    --cds-tag-background-teal: #004144;
    --cds-tag-color-teal: #3ddbd9;
    --cds-tag-hover-teal: #005d5d;
    --cds-tag-background-green: #044317;
    --cds-tag-color-green: #6fdc8c;
    --cds-tag-hover-green: #0e6027;
    --cds-tag-background-gray: #393939;
    --cds-tag-color-gray: #c6c6c6;
    --cds-tag-hover-gray: #525252;
    --cds-tag-background-cool-gray: #343a3f;
    --cds-tag-color-cool-gray: #c1c7cd;
    --cds-tag-hover-cool-gray: #4d5358;
    --cds-tag-background-warm-gray: #3c3838;
    --cds-tag-color-warm-gray: #cac5c4;
    --cds-tag-hover-warm-gray: #565151;
    --cds-notification-background-error: var(--cds-ui-01, #f4f4f4);
    --cds-notification-background-success: var(--cds-ui-01, #f4f4f4);
    --cds-notification-background-info: var(--cds-ui-01, #f4f4f4);
    --cds-notification-background-warning: var(--cds-ui-01, #f4f4f4);
    --cds-notification-action-hover: var(--cds-hover-ui, #e5e5e5)
}

:root[theme="sheepyneko"] {
    --cds-interactive-01: #6d2bc4;
    --cds-interactive-02: #2b197e;
    --cds-interactive-03: #f08cf0;
    --cds-interactive-04: #4589ff;
    --cds-ui-background: #f827e7;
    --cds-ui-01: #c20e62;
    --cds-ui-02: #d625ee;
    --cds-ui-03: #b119c5;
    --cds-ui-04: #b347aa;
    --cds-ui-05: #fc97ff;
    --cds-text-01: #0f0e0e;
    --cds-text-02: #3d3939;
    --cds-text-03: #6f6f6f;
    --cds-text-04: #fff;
    --cds-text-05: #8d8d8d;
    --cds-text-error: #ff8389;
    --cds-icon-01: #f4f4f4;
    --cds-icon-02: #c6c6c6;
    --cds-icon-03: #fff;
    --cds-link-01: #78a9ff;
    --cds-link-02: #a6c8ff;
    --cds-inverse-link: #0f62fe;
    --cds-field-01: #262626;
    --cds-field-02: #393939;
    --cds-inverse-01: #161616;
    --cds-inverse-02: #f4f4f4;
    --cds-support-01: #fa4d56;
    --cds-support-02: #42be65;
    --cds-support-03: #f1c21b;
    --cds-support-04: #4589ff;
    --cds-inverse-support-01: #da1e28;
    --cds-inverse-support-02: #24a148;
    --cds-inverse-support-03: #f1c21b;
    --cds-inverse-support-04: #0f62fe;
    --cds-overlay-01: rgba(22, 22, 22, 70%);
    --cds-danger-01: #da1e28;
    --cds-danger-02: #fa4d56;
    --cds-focus: #fff;
    --cds-inverse-focus-ui: #0f62fe;
    --cds-hover-primary: #0353e9;
    --cds-active-primary: #002d9c;
    --cds-hover-primary-text: #a6c8ff;
    --cds-hover-secondary: #606060;
    --cds-active-secondary: #393939;
    --cds-hover-tertiary: #f4f4f4;
    --cds-active-tertiary: #c6c6c6;
    --cds-hover-ui: #353535;
    --cds-hover-light-ui: #4c4c4c;
    --cds-hover-selected-ui: #4c4c4c;
    --cds-active-ui: #525252;
    --cds-active-light-ui: #6f6f6f;
    --cds-selected-ui: #393939;
    --cds-selected-light-ui: #525252;
    --cds-inverse-hover-ui: #e5e5e5;
    --cds-hover-danger: #b81921;
    --cds-active-danger: #750e13;
    --cds-hover-row: #353535;
    --cds-visited-link: #be95ff;
    --cds-disabled-01: #262626;
    --cds-disabled-02: #525252;
    --cds-disabled-03: #8d8d8d;
    --cds-highlight: #002d9c;
    --cds-decorative-01: #525252;
    --cds-button-separator: #161616;
    --cds-skeleton-01: #353535;
    --cds-skeleton-02: #525252;
    --cds-background: #161616;
    --cds-layer: #262626;
    --cds-layer-accent: #393939;
    --cds-layer-accent-hover: #474747;
    --cds-layer-accent-active: #6f6f6f;
    --cds-field: #262626;
    --cds-background-inverse: #f4f4f4;
    --cds-background-brand: #0f62fe;
    --cds-interactive: #4589ff;
    --cds-border-subtle: #393939;
    --cds-border-strong: #6f6f6f;
    --cds-border-inverse: #f4f4f4;
    --cds-border-interactive: #4589ff;
    --cds-text-primary: #f4f4f4;
    --cds-text-secondary: #c6c6c6;
    --cds-text-placeholder: #6f6f6f;
    --cds-text-helper: #8d8d8d;
    --cds-text-on-color: #fff;
    --cds-text-inverse: #161616;
    --cds-link-primary: #78a9ff;
    --cds-link-secondary: #a6c8ff;
    --cds-link-visited: #be95ff;
    --cds-link-inverse: #0f62fe;
    --cds-icon-primary: #f4f4f4;
    --cds-icon-secondary: #c6c6c6;
    --cds-icon-on-color: #fff;
    --cds-icon-inverse: #161616;
    --cds-support-error: #fa4d56;
    --cds-support-success: #42be65;
    --cds-support-warning: #f1c21b;
    --cds-support-info: #4589ff;
    --cds-support-error-inverse: #da1e28;
    --cds-support-success-inverse: #24a148;
    --cds-support-warning-inverse: #f1c21b;
    --cds-support-info-inverse: #0f62fe;
    --cds-overlay: rgba(22, 22, 22, 70%);
    --cds-toggle-off: #6f6f6f;
    --cds-button-primary: #0f62fe;
    --cds-button-secondary: #6f6f6f;
    --cds-button-tertiary: #fff;
    --cds-button-danger-primary: #da1e28;
    --cds-button-danger-secondary: #fa4d56;
    --cds-background-active: #525252;
    --cds-layer-active: #525252;
    --cds-button-danger-active: #750e13;
    --cds-button-primary-active: #002d9c;
    --cds-button-secondary-active: #393939;
    --cds-button-tertiary-active: #c6c6c6;
    --cds-focus-inset: #161616;
    --cds-focus-inverse: #0f62fe;
    --cds-background-hover: #353535;
    --cds-layer-hover: #353535;
    --cds-field-hover: #353535;
    --cds-background-inverse-hover: #e5e5e5;
    --cds-link-primary-hover: #a6c8ff;
    --cds-button-danger-hover: #b81921;
    --cds-button-primary-hover: #0353e9;
    --cds-button-secondary-hover: #606060;
    --cds-button-tertiary-hover: #f4f4f4;
    --cds-background-selected: #393939;
    --cds-background-selected-hover: #4c4c4c;
    --cds-layer-selected: #393939;
    --cds-layer-selected-hover: #4c4c4c;
    --cds-layer-selected-inverse: #f4f4f4;
    --cds-border-subtle-selected: #525252;
    --cds-layer-disabled: #262626;
    --cds-field-disabled: #262626;
    --cds-border-disabled: #262626;
    --cds-text-disabled: #525252;
    --cds-button-disabled: #525252;
    --cds-icon-disabled: #525252;
    --cds-text-on-color-disabled: #8d8d8d;
    --cds-icon-on-color-disabled: #8d8d8d;
    --cds-layer-selected-disabled: #8d8d8d;
    --cds-skeleton-background: #353535;
    --cds-skeleton-element: #525252;
    --cds-brand-01: #0f62fe;
    --cds-brand-02: #6f6f6f;
    --cds-brand-03: #fff;
    --cds-active-01: #525252;
    --cds-hover-field: #353535;
    --cds-danger: #da1e28;
    --cds-caption-01-font-size: 0.75rem;
    --cds-caption-01-font-weight: 400;
    --cds-caption-01-line-height: 1.34;
    --cds-caption-01-letter-spacing: 0.32px;
    --cds-caption-02-font-size: 0.875rem;
    --cds-caption-02-font-weight: 400;
    --cds-caption-02-line-height: 1.29;
    --cds-caption-02-letter-spacing: 0.32px;
    --cds-label-01-font-size: 0.75rem;
    --cds-label-01-font-weight: 400;
    --cds-label-01-line-height: 1.34;
    --cds-label-01-letter-spacing: 0.32px;
    --cds-label-02-font-size: 0.875rem;
    --cds-label-02-font-weight: 400;
    --cds-label-02-line-height: 1.29;
    --cds-label-02-letter-spacing: 0.32px;
    --cds-helper-text-01-font-size: 0.75rem;
    --cds-helper-text-01-line-height: 1.34;
    --cds-helper-text-01-letter-spacing: 0.32px;
    --cds-helper-text-02-font-size: 0.875rem;
    --cds-helper-text-02-line-height: 1.29;
    --cds-helper-text-02-letter-spacing: 0.32px;
    --cds-body-short-01-font-size: 0.875rem;
    --cds-body-short-01-font-weight: 400;
    --cds-body-short-01-line-height: 1.29;
    --cds-body-short-01-letter-spacing: 0.16px;
    --cds-body-long-01-font-size: 0.875rem;
    --cds-body-long-01-font-weight: 400;
    --cds-body-long-01-line-height: 1.43;
    --cds-body-long-01-letter-spacing: 0.16px;
    --cds-body-short-02-font-size: 1rem;
    --cds-body-short-02-font-weight: 400;
    --cds-body-short-02-line-height: 1.375;
    --cds-body-short-02-letter-spacing: 0;
    --cds-body-long-02-font-size: 1rem;
    --cds-body-long-02-font-weight: 400;
    --cds-body-long-02-line-height: 1.5;
    --cds-body-long-02-letter-spacing: 0;
    --cds-code-01-font-family: NotoColorEmoji-Flags, 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    --cds-code-01-font-size: 0.75rem;
    --cds-code-01-font-weight: 400;
    --cds-code-01-line-height: 1.34;
    --cds-code-01-letter-spacing: 0.32px;
    --cds-code-02-font-family: NotoColorEmoji-Flags, 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    --cds-code-02-font-size: 0.875rem;
    --cds-code-02-font-weight: 400;
    --cds-code-02-line-height: 1.43;
    --cds-code-02-letter-spacing: 0.32px;
    --cds-heading-01-font-size: 0.875rem;
    --cds-heading-01-font-weight: 600;
    --cds-heading-01-line-height: 1.29;
    --cds-heading-01-letter-spacing: 0.16px;
    --cds-productive-heading-01-font-size: 0.875rem;
    --cds-productive-heading-01-font-weight: 600;
    --cds-productive-heading-01-line-height: 1.29;
    --cds-productive-heading-01-letter-spacing: 0.16px;
    --cds-heading-02-font-size: 1rem;
    --cds-heading-02-font-weight: 600;
    --cds-heading-02-line-height: 1.375;
    --cds-heading-02-letter-spacing: 0;
    --cds-productive-heading-02-font-size: 1rem;
    --cds-productive-heading-02-font-weight: 600;
    --cds-productive-heading-02-line-height: 1.375;
    --cds-productive-heading-02-letter-spacing: 0;
    --cds-productive-heading-03-font-size: 1.25rem;
    --cds-productive-heading-03-font-weight: 400;
    --cds-productive-heading-03-line-height: 1.4;
    --cds-productive-heading-03-letter-spacing: 0;
    --cds-productive-heading-04-font-size: 1.75rem;
    --cds-productive-heading-04-font-weight: 400;
    --cds-productive-heading-04-line-height: 1.29;
    --cds-productive-heading-04-letter-spacing: 0;
    --cds-productive-heading-05-font-size: 2rem;
    --cds-productive-heading-05-font-weight: 400;
    --cds-productive-heading-05-line-height: 1.25;
    --cds-productive-heading-05-letter-spacing: 0;
    --cds-productive-heading-06-font-size: 2.625rem;
    --cds-productive-heading-06-font-weight: 300;
    --cds-productive-heading-06-line-height: 1.199;
    --cds-productive-heading-06-letter-spacing: 0;
    --cds-productive-heading-07-font-size: 3.375rem;
    --cds-productive-heading-07-font-weight: 300;
    --cds-productive-heading-07-line-height: 1.19;
    --cds-productive-heading-07-letter-spacing: 0;
    --cds-expressive-heading-01-font-size: 0.875rem;
    --cds-expressive-heading-01-font-weight: 600;
    --cds-expressive-heading-01-line-height: 1.25;
    --cds-expressive-heading-01-letter-spacing: 0.16px;
    --cds-expressive-heading-02-font-size: 1rem;
    --cds-expressive-heading-02-font-weight: 600;
    --cds-expressive-heading-02-line-height: 1.5;
    --cds-expressive-heading-02-letter-spacing: 0;
    --cds-expressive-heading-03-font-size: 1.25rem;
    --cds-expressive-heading-03-font-weight: 400;
    --cds-expressive-heading-03-line-height: 1.4;
    --cds-expressive-heading-03-letter-spacing: 0;
    --cds-expressive-heading-04-font-size: 1.75rem;
    --cds-expressive-heading-04-font-weight: 400;
    --cds-expressive-heading-04-line-height: 1.29;
    --cds-expressive-heading-04-letter-spacing: 0;
    --cds-expressive-heading-05-font-size: 2rem;
    --cds-expressive-heading-05-font-weight: 400;
    --cds-expressive-heading-05-line-height: 1.25;
    --cds-expressive-heading-05-letter-spacing: 0;
    --cds-expressive-heading-06-font-size: 2rem;
    --cds-expressive-heading-06-font-weight: 600;
    --cds-expressive-heading-06-line-height: 1.25;
    --cds-expressive-heading-06-letter-spacing: 0;
    --cds-expressive-paragraph-01-font-size: 1.5rem;
    --cds-expressive-paragraph-01-font-weight: 300;
    --cds-expressive-paragraph-01-line-height: 1.334;
    --cds-expressive-paragraph-01-letter-spacing: 0;
    --cds-quotation-01-font-size: 1.25rem;
    --cds-quotation-01-font-weight: 400;
    --cds-quotation-01-line-height: 1.3;
    --cds-quotation-01-letter-spacing: 0;
    --cds-quotation-02-font-size: 2rem;
    --cds-quotation-02-font-weight: 300;
    --cds-quotation-02-line-height: 1.25;
    --cds-quotation-02-letter-spacing: 0;
    --cds-display-01-font-size: 2.625rem;
    --cds-display-01-font-weight: 300;
    --cds-display-01-line-height: 1.19;
    --cds-display-01-letter-spacing: 0;
    --cds-display-02-font-size: 2.625rem;
    --cds-display-02-font-weight: 600;
    --cds-display-02-line-height: 1.19;
    --cds-display-02-letter-spacing: 0;
    --cds-display-03-font-size: 2.625rem;
    --cds-display-03-font-weight: 300;
    --cds-display-03-line-height: 1.19;
    --cds-display-03-letter-spacing: 0;
    --cds-display-04-font-size: 2.625rem;
    --cds-display-04-font-weight: 600;
    --cds-display-04-line-height: 1.19;
    --cds-display-04-letter-spacing: 0;
    --cds-spacing-01: 0.125rem;
    --cds-spacing-02: 0.25rem;
    --cds-spacing-03: 0.5rem;
    --cds-spacing-04: 0.75rem;
    --cds-spacing-05: 1rem;
    --cds-spacing-06: 1.5rem;
    --cds-spacing-07: 2rem;
    --cds-spacing-08: 2.5rem;
    --cds-spacing-09: 3rem;
    --cds-spacing-10: 4rem;
    --cds-spacing-11: 5rem;
    --cds-spacing-12: 6rem;
    --cds-spacing-13: 10rem;
    --cds-fluid-spacing-01: 0;
    --cds-fluid-spacing-02: 2vw;
    --cds-fluid-spacing-03: 5vw;
    --cds-fluid-spacing-04: 10vw;
    --cds-layout-01: 1rem;
    --cds-layout-02: 1.5rem;
    --cds-layout-03: 2rem;
    --cds-layout-04: 3rem;
    --cds-layout-05: 4rem;
    --cds-layout-06: 6rem;
    --cds-layout-07: 10rem;
    --cds-container-01: 1.5rem;
    --cds-container-02: 2rem;
    --cds-container-03: 2.5rem;
    --cds-container-04: 3rem;
    --cds-container-05: 4rem;
    --cds-size-xsmall: 1.5rem;
    --cds-size-small: 2rem;
    --cds-size-medium: 2.5rem;
    --cds-size-large: 3rem;
    --cds-size-xlarge: 4rem;
    --cds-size-2XLarge: 5rem;
    --cds-icon-size-01: 1rem;
    --cds-icon-size-02: 1.25rem;
    --cds-tag-background-red: #750e13;
    --cds-tag-color-red: #ffb3b8;
    --cds-tag-hover-red: #a2191f;
    --cds-tag-background-magenta: #740937;
    --cds-tag-color-magenta: #ffafd2;
    --cds-tag-hover-magenta: #9f1853;
    --cds-tag-background-purple: #491d8b;
    --cds-tag-color-purple: #d4bbff;
    --cds-tag-hover-purple: #6929c4;
    --cds-tag-background-blue: #002d9c;
    --cds-tag-color-blue: #a6c8ff;
    --cds-tag-hover-blue: #0043ce;
    --cds-tag-background-cyan: #003a6d;
    --cds-tag-color-cyan: #82cfff;
    --cds-tag-hover-cyan: #00539a;
    --cds-tag-background-teal: #004144;
    --cds-tag-color-teal: #3ddbd9;
    --cds-tag-hover-teal: #005d5d;
    --cds-tag-background-green: #044317;
    --cds-tag-color-green: #6fdc8c;
    --cds-tag-hover-green: #0e6027;
    --cds-tag-background-gray: #393939;
    --cds-tag-color-gray: #c6c6c6;
    --cds-tag-hover-gray: #525252;
    --cds-tag-background-cool-gray: #343a3f;
    --cds-tag-color-cool-gray: #c1c7cd;
    --cds-tag-hover-cool-gray: #4d5358;
    --cds-tag-background-warm-gray: #3c3838;
    --cds-tag-color-warm-gray: #cac5c4;
    --cds-tag-hover-warm-gray: #565151;
    --cds-notification-background-error: var(--cds-ui-01, #f4f4f4);
    --cds-notification-background-success: var(--cds-ui-01, #f4f4f4);
    --cds-notification-background-info: var(--cds-ui-01, #f4f4f4);
    --cds-notification-background-warning: var(--cds-ui-01, #f4f4f4);
    --cds-notification-action-hover: var(--cds-hover-ui, #e5e5e5)
}