name: Continuous Integration

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  tests:
    name: Testing Web-Application
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.repository }} @ ${{ github.ref }}
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20.11.x
      - name: Install NPM Packages
        run: npm install
      - name: Code Inspection
        run: npm run check
      - name: Build Web-Application
        run: npm run build --workspace web
      - name: Unit & Component Tests
        run: npm run test
